img {
  width: 100%;
}

.zzlanding {
  position: relative;
  /* background: url("./img/showcase.jpg") no-repeat; */
  /* background: url("./img/steamboat-ski-resort.jpg") no-repeat; */
  background: url("./img/IMG_1611.JPG") no-repeat;
  background-size: cover;
  background-position: center;
  height: 200vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing {
  /* position: relative; */
  /* background: url("./img/showcase.jpg") no-repeat; */
  /* background: url("./img/steamboat-ski-resort.jpg") no-repeat; */
  background-color: #08178c;
  /* background: url("./img/IMG_1611.JPG") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px; */
  padding-bottom: 1px;
}

.landing-inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

search-bar {
  margin: 0px;
  text-align: center;
}

.search-bar input {
  /* width: 70%; */
  width: 300px;
  margin: 0px auto;
  /* margin-left: 300px; */
}

.image-float {
  width: 320px;
  height: 180px;

  float: left;

  /* margin: 2px; */
  /* margin: 0px auto; */
  margin: 10px;
  border: 0px solid yellow;
}

.image-container {
  background-color: #343a40;
}

#filtersubmit {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #000000;
  cursor: pointer;
  width: 30;
}

.register {
  border: 1px solid black;
  background-color: white;
  /* width: 500px; */
  color: black;
  /* margin: 50px auto; */
  /* left: 0;
  right: 0; */
  margin: 20px auto;
  /* top: 100px;
  left: 100px; */
  padding-bottom: 20px;
  /*position: absolute;*/
  z-index: 100;
}

.mime_json_upload {
  border: 1px solid black;
  background-color: white;
  width: 600px;
  color: black;

  margin: auto;

  padding-bottom: 20px;

  z-index: 100;
}

.mainlinkswrapper {
  margin-top: -30px;
  margin-left: 50px;
  border: 0px solid white;
  font-size: 12pt;
  height: 30px;
  vertical-align: middle;
}

li {
  list-style-type: none;
}

.mirrorHeading1 {
  font-size: 14pt;
  /* margin-left: 10px;
  display: block-inline; */
  /* float: left; */
  margin-left: 10px;
  /* float: left; */
  height: 30px;
  display: inline;
}
.mirrorHeading2 {
  font-size: 10pt;
  margin-left: 20px;

  /* float: left; */
  display: inline;
  height: 30px;
}

.mirrorlinks {
  font-size: 8pt;
  margin-left: 20px;
  /* float: left; */
  height: 30px;
  display: inline;

  /* float: left; */
}

.mirrorborder {
  border: 0px solid black;
  padding-top: 10px;
}

.magicmirrormain {
  margin: 40px auto;
  text-align: center;
}

.navwrapper {
  border: 1px solid white;
}

.navbackground {
  background-color: #08178c;
}

.thumbdetail {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background-color: #08178c;
  width: 240px;
  top: 10px;
}

.videoarea {
  width: 300px;
  height: 600px;
  border: 0px solid black;
}
.centerdiv {
  margin: 0px auto;
  width: 300px;
  /* height: 500px; */
}

.thumbdetail2 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background-color: #08178c;
  width: 340px;
  top: 10px;
}

.thumbdetail3 {
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid yellow;
  /* padding: 20px;
  background-color: #08178c;
  width: 340px;
  top: 10px; */
}

.videoarea2 {
  /* width: 300px;
  height: 180px; */
  margin-top: 0px;
  padding: 0px;
}

.mimerecordstablewrapper {
  max-height: 760px;
  overflow-y: auto;
  border: 0px solid white;
  margin-bottom: 10px;
  font-size: 8pt;
  font-weight: normal;
}

.mimerecordsformwrapper {
  border: 0px solid white;
  /* margin-right: 10px; */
  background-color: #fff;
  color: black;
  padding-right: 10px;
  font-size: 8pt;
  font-weight: normal;
}

.bordertest {
  border: 0px solid white;
}

.main_container {
  border-top: 1px solid white;
  margin-top: 0px;
}

.mimemain {
  position: absolute;
  /* width: 360px;
  height: 270x;
  top: 100px;
  left: 300px; */
  border: 2px solid white;
}

.timagetest {
  background-color: white;
  color: "black";
  position: relative;
  margin-top: -75px;
  font-weight: "normal";
}

/* #060d65 */
